@import url('./reset.css');

body {
  font-family: 'Montserrat', sans-serif;
}
:root {
  font-family: 'Montserrat', Inter, Avenir, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form {
  margin: 36px auto 32px;
  max-width: 371px;
  display: flex;
  align-items: center;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin: 0;
  box-sizing: border-box;
  height: 40px;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  border-radius: 4px;
  outline: none;
  border: 1px solid #808080;
  width: 100%;
}

input:hover {
  border: 1px solid #000000;
}

input:focus {
  border: 1px solid #4e75ff;
}

button {
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  color: white;
  background-color: #4e75ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
}
button:hover {
  background: #6c8cff;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.gallery {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0;
}

.hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  position: static;
  left: 50%;
  transform: translateX(-50%);

  color: #2e2f42;
}

.item-results {
  width: calc((100% - 48px) / 3);
  height: 200px;
  border: 1px solid #808080;
  position: relative;
}

.gallery-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.wrap-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.list-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 4px 20px;
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.text-info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loads-container {
  display: flex;
  justify-content: center;
  align-items:center;
}

.loader {
  width: 100px;
  height: 100px;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(220, 220, 220) 40%,
    rgb(170, 170, 170) 98%,
    rgb(10, 10, 10) 100%
  );
  border-radius: 50%;
}

.loader:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-bottom: 0 solid #ffffff05;
  box-shadow: 0 -10px 20px 20px #ffffff40 inset,
    0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
    0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
    0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
  filter: blur(3px);
  animation: 2s rotate linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
